---
layout: default
title: "HTML, CSS and JS Challenges"
page_name: challenges
permalink: /html-css-js/
---

<section class="challenges-section pt-5">
  <div class="container">
    <div class="section-header mb-4">
      <h1>
        HTML, CSS and JS
      </h1>
      <div class="action">
        <a href="{{ site.url }}/html-css-js/">View All</a>
      </div>
    </div>

    <div class="row">
      {% for challenge in site.html-css-js %}
        <div class="col-md-4">
          <div class="card">
            <div class="image-wrapper">
              <a href="{{ challenge.url }}">
                <img src="{{ site.image_base_url }}/{{ challenge.preview.desktop }}" class="card-img-top" alt="Challenge Thumbnail">
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ challenge.title }}</h5>
              <p class="card-text">
                {{ challenge.description }}
              </p>
              <div class="challenge-info-header">
                <div class="tags">
                  {% for tag in challenge.tags %}
                    <span class="tag-badge">{{ tag }}</span>
                  {% endfor %}
                </div>
                <div class="difficulty">
                  <span class="difficulty-badge">{{ challenge.difficulty }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
